bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.productConsolidater/.idea/workspace.xml
.idea/.idea.productConsolidater/.idea/projectSettingsUpdater.xml
.idea/.idea.productConsolidater/.idea/modules.xml
.idea/.idea.productConsolidater/.idea/contentModel.xml
